<!--
<div class="container pt-16 pb-32 ">

  <div class="border-t pt-16"></div>

    <div class="grid grid-cols-12">
  
      <div class="col-span-12 lg:col-span-1">
        <a href="/" class="flex items-center">
  
          <svg class="w-12 h-12" width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2:346)">
<path d="M11.8542 12.8499C11.8542 12.8499 11.8916 20.0045 8.31146 20.0045C8.31146 20.0045 6.24432 20.0361 6.35951 16.9378C6.4747 13.8774 10.8767 14.5919 10.8767 11.7592C10.8767 10.4819 8.45155 12.1228 6.35951 14.3833C3.88144 17.0579 1.79251 17.8262 0.643754 15.5689C-0.473869 13.3716 -0.0971774 10.7032 1.44384 9.73578C3.0689 8.7146 4.10558 10.1626 5.12981 11.2375C6.55875 12.7424 10.251 10.2574 10.2665 9.78637C10.2665 9.78637 0.562812 9.67571 2.83853 5.07881C3.53276 3.67824 4.87765 2.28083 5.97037 5.15152C6.76733 7.24447 8.2492 8.47432 9.79643 8.3036C10.4346 8.23088 10.9172 7.94318 10.9172 7.23183C10.9172 3.14394 5.09246 6.88089 6.3346 1.22803C7.00393 -1.81022 11.8573 1.09841 11.8573 6.71966C11.8573 12.3409 11.8542 12.8499 11.8542 12.8499Z" fill="#072F19"/>
<path d="M11.1451 7.15458C11.1451 7.15458 11.1078 -1.78712e-05 14.6879 -1.78712e-05C14.6879 -1.78712e-05 16.755 -0.0316335 16.6398 3.06669C16.5246 6.12708 12.1226 5.41257 12.1226 8.24532C12.1226 9.52259 14.5478 7.88174 16.6398 5.62123C19.1179 2.94655 21.2068 2.17829 22.3556 4.43564C23.4732 6.63293 23.0965 9.30128 21.5555 10.2687C19.9304 11.2899 18.8938 9.84191 17.8695 8.76698C16.4406 7.26208 12.7484 9.74706 12.7328 10.2181C12.7328 10.2181 22.4365 10.3288 20.1608 14.9257C19.4666 16.3263 18.1217 17.7237 17.029 14.853C16.232 12.76 14.7501 11.5302 13.2029 11.7009C12.5647 11.7736 12.0822 12.0613 12.0822 12.7727C12.0822 16.8606 17.9069 13.1236 16.6647 18.7765C15.9954 21.8147 11.1451 18.9061 11.1451 13.2848C11.1451 7.66359 11.1451 7.15458 11.1451 7.15458Z" fill="#072F19"/>
</g>
<defs>
<clipPath id="clip0_2:346">
<rect width="23" height="20" fill="white"/>
</clipPath>
</defs>
</svg>

        </a>

      </div>
      <div class="col-span-11 lg:col-span-5">
        <div class="text-base lg:pr-16 mb-4"></div>
        <div class="text-base lg:pr-16">Ring oss <a href="tel:40747781" class="underline">407 47 781</a> på eller send mail til <a href="mailto:info@bakklandetdelikatesse.no" class="underline">info@sbakklandetdelikatesse.no</a>. Og følg oss gjerne på <a href="https://instagram.com/samling.store" class="underline">Instagram</a> og <a href="https://facebook.com/samling.store" class="underline">Facebook</a>!</div>
        
        <div class="hidden">
        <div class="text-base mb-4">
          <p>Vi gjør klar alle bestillinger hver fredag, og de kan deretter hentes hos Bakklandet Blomster i Nedre Bakklandet 3 (dette kan du velge når du betaler).</p>
          <p>Vi leverer også på døren i Trondheim hver fredag og lørdag. Du kan skrive hvilken dag du vil ha de levert i utsjekken. For resten av landet sender vi ut varer med post hver mandag.</p>
          <p>Priser for levering (gjelder både post og levering på dør):</p>
        </div>
        <table class="table text-sm mt-8 w-full">
          <tr>
            <td class="pb-2 border-b">Ordrebeløp</td>
            <td class="pl-4 text-right pb-2 border-b">Fraktkostnad</td>
          </tr>
          <tr>
            <td>0 - 1500,-</td>
            <td class="pl-4 text-right pb-2">59,-</td>
          </tr>
          <tr>
            <td class="border-b pb-2">1500,- og over</td>
            <td class="pl-4 text-right pb-4 border-b pb-4">Gratis</td>
          </tr>
        </table>
        <div class="text-sm leading-normal mt-8">Bestillinger kan også hentes kostnadsfritt hos Bakklandet Blomster.</div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-4 pt-4 lg:pt-8 hidden">
          <div class="hidden">
            <div class="text-base">
          {% form 'customer' %}
            {% if form.posted_successfully? %}
              <p>Takk! Vi ser frem til å holde deg oppdatert. Snakkes snart!</p>
          {% else %}
    
    
            <div>
              <p>Samlingen er en klubb for de interesserte, nysgjerrige og dedikerte. Som medlem i Samlingen får du uregelmessige nyhetsbrev og invitasjoner til arrangement. Meld deg inn her!</p>
            </div>
    
            <div class="border-b flex justify-between  pb-2 mb-4 pt-8">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" class="bg-transparent" name="contact[email]" class="flex-1" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Din epostadresse" autocorrect="off" autocapitalize="off">
                <button type="submit" class="" name="commit" class="text-right">
                  Send
                </button>
            </div>
    
                    {{ form.errors | default_errors }}
          {% endif %}
    
          {% endform %}
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6">
  
        <div>
          <button class="text-base mb-4 border-b inline-block accordion">Hva koster frakt?</button>
          <div class="accordion-content text-base">
            <p>Priser for levering (gjelder både post og levering på dør):</p>
            <table class="table text-sm mt-8 w-full">
              <tr>
                <td class="pb-2 border-b">Ordrebeløp</td>
                <td class="pl-4 text-right pb-2 border-b">Fraktkostnad</td>
              </tr>
              <tr>
                <td>0-1500,-</td>
                <td class="pl-4 text-right pb-2">59,-</td>
              </tr>
              <tr>
                <td class="border-b pb-2">1500,- og over</td>
                <td class="pl-4 text-right pb-4 border-b pb-4">Gratis</td>
              </tr>
            </table>
            <div class="text-sm leading-normal mt-8">Bestillinger kan også hentes kostnadsfritt hos Bakklandet Blomster.</div>
            <div class="h-8"></div>

          </div>
        </div>
        <div>
          <button class="text-base mb-4 border-b inline-block accordion">Jeg vil ha nyhetsbrev!</button>
          <div class="accordion-content text-base">
            {% form 'customer' %}
              {% if form.posted_successfully? %}
                <p>Takk! Vi ser frem til å holde deg oppdatert. Snakkes snart!</p>
            {% else %}
      
      
              <div>
                <p>Det må du få! Nyhetsbrevet vårt heter Samlingen, og er en klubb for de interesserte, nysgjerrige og dedikerte. Som medlem i Samlingen får du uregelmessige nyhetsbrev og invitasjoner til arrangement. Meld deg inn her!</p>
              </div>
      
              <div class="border-b flex justify-between  pb-2 mb-4 pt-8">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="email" class="bg-transparent" name="contact[email]" class="flex-1" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Din epostadresse" autocorrect="off" autocapitalize="off">
                  <button type="submit" class="" name="commit" class="text-right">
                    Send
                  </button>
              </div>
      
                      {{ form.errors | default_errors }}
            {% endif %}
      
            {% endform %}
              <div class="h-8"></div>

          </div>
        </div>
        <div>
          <button class="text-base mb-4 border-b inline-block accordion">Har dere salgsvilkår?</button>
          <div class="accordion-content text-base wysiwyg">
            <p>Sure do! <a href="https://samling.store/pages/salgsvilkar">Her er de.</a></p>
            <div class="h-8"></div>

          </div>

        </div>
        <div>
          <button class="text-base mb-4 border-b inline-block accordion">Kan dere ordne spesielle bestillinger?</button>
          <div class="accordion-content text-base">
            <p>Ja! Veldig gjerne! Ta kontakt med oss om du har en spesiell vare du vil vi skal finne for deg, eller om du vil vi skal ordne med ostefat, gaver til ansatte, arrangement eller hva det skulle være. Vi stiller gjerne opp!</p>
            <div class="h-8"></div> 

          </div>
        </div>
      </div>
  
  </div>

  <script type="text/javascript">
    
  </script>
  
  <style type="text/css">
    .accordion:focus {
      outline: none;
    }
    .accordion-content {  
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-in-out;
    }
  </style>
  
  -->

      
    <div class="p-4 pt-8 wysiwyg text-sm leading-tight">
        <svg class="w-32 h-32 absolute right-0 transform translate-x-6" width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5354 15.9421C11.1419 17.8768 10.2654 20.0045 8.31305 20.0045C8.31305 20.0045 6.24591 20.0361 6.3611 16.9379C6.41954 15.3854 7.58113 14.8043 8.71161 14.2388C9.80961 13.6895 10.8783 13.155 10.8783 11.7592C10.8783 10.4819 8.45314 12.1228 6.3611 14.3833C3.88302 17.058 1.7941 17.8262 0.645339 15.5689C-0.472276 13.3716 -0.0955976 10.7033 1.44542 9.73585C2.90202 8.82051 3.88589 9.88887 4.8118 10.8944C4.91888 11.0106 5.02521 11.1261 5.13139 11.2376C6.56033 12.7424 10.2525 10.2575 10.2681 9.78639C10.2681 9.78639 0.564391 9.67573 2.84012 5.07887C3.53435 3.6783 4.87923 2.2809 5.97195 5.15156C6.76892 7.24452 8.25078 8.47438 9.79802 8.30366C10.4362 8.23091 10.9188 7.94325 10.9188 7.23189C10.9188 5.3752 9.71719 5.1327 8.52193 4.89149C7.08552 4.60158 5.65822 4.31349 6.3362 1.2281C6.88945 -1.28325 10.3014 0.268506 11.4682 4.05684C11.8622 2.12355 12.739 1.2647e-05 14.6895 1.2647e-05C14.6895 1.2647e-05 16.7566 -0.0316036 16.6414 3.06672C16.583 4.61921 15.4214 5.20027 14.2909 5.76582C13.1929 6.31508 12.1242 6.84962 12.1242 8.24537C12.1242 9.52266 14.5494 7.88179 16.6414 5.62129C19.1195 2.94661 21.2084 2.17836 22.3572 4.43568C23.4748 6.63295 23.0981 9.30134 21.5571 10.2688C20.1005 11.184 19.1167 10.1157 18.1908 9.1103C18.0836 8.99397 17.9773 8.87849 17.8711 8.76704C16.4422 7.2621 12.75 9.74708 12.7344 10.2182C12.7344 10.2182 22.4381 10.3288 20.1624 14.9257C19.4682 16.3263 18.1233 17.7237 17.0305 14.853C16.2336 12.7601 14.7517 11.5302 13.2045 11.7009C12.5663 11.7736 12.0837 12.0614 12.0837 12.7727C12.0837 14.6294 13.2853 14.8719 14.4806 15.1131C15.917 15.403 17.3443 15.6911 16.6663 18.7765C16.1128 21.2891 12.6998 19.7346 11.5354 15.9421Z" fill="#072F19"/>
        </svg>
        <div class="pt-16">
          <p>Bakklandet Delikatesse AS<br>Nedre Bakklandet 3<br>7014 Trondheim</p>
          <p>post@bakklandetdelikatesse.no<br>+47 407 47 781</p>
          <p>Onsdag — Fredag<br>11.00 til 18.00</p>
          <p>Lørdag<br>11.00 til 16.00</p>
        </div>
    </div>

