<div class="container pt-8 lg:w-1/2 text-base">
    
    {% form 'customer' %}
      {% if form.posted_successfully? %}
        <p>Takk! Vi ser frem til å holde deg oppdatert. Snakkes snart!</p>
    {% else %}
  
  
      <div>
      <p>Samling er en konseptbutikk med vår* samling av de beste smakene og varene.</p>
      <p>I mars lanserer vi en liten delikatesse, både på nett og i butikk i Trondheim. Vil du bli varslet om åpningsdato og få invitasjon til lansering, meld deg inn i Samlingen** her.</p>
    </div>
  
      <div class="border-b-2 flex justify-between  pb-2 mb-4 pt-8">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="email" class="bg-transparent" name="contact[email]" class="flex-1" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Din epostadresse" autocorrect="off" autocapitalize="off">
          <button type="submit" class="" name="commit" class="text-right">
            Send
          </button>
      </div>
  
              {{ form.errors | default_errors }}
     {% endif %}
  
    {% endform %}
   
  </div>
  <div class="flex-1"></div>
  <div class="px-8 text-sm">* Julie fra <a href="https://bakklandetblomster" class="underline">Bakklandet Blomster</a> og Magnus fra <a href="https://skogen.io" class="underline">Skogen</a>.</div>
  <div class="p-8 mob:pb-32 pt-2 text-sm">** <em>Samlingen</em> er en klubb for de interesserte, nysgjerrige og dedikerte. Som medlem i Samlingen får du uregelmessige nyhetsbrev og invitasjoner til arrangement. </div>
  